@{
    ViewData["Title"] = "Inicio";
}
<link rel="Stylesheet" href="../../css/site.css" />
<title>Inicio</title>


<body id="bodyMenu">

    <div id="menu" class="barraLateral">
        <ul class="menuListButtons">
            <li class="menuButton"> <a href="#"> <img src="../../img/rollButton.png" class="imgMenuButton" alt="Inicial um Roll" /> </a> </li>
            <li class="menuButton"> <a asp-controller="Home" asp-action="Acervo"> <img src="../../img/acervoButton.png" class="imgMenuButton" alt="Verificar Acervo" /> </a> </li>
        </ul>
    </div>

</body>